SECRET_KEY=django-insecure-change-me-in-production-!@#$%^&*()
DEBUG=True
OPEN_METEO_URL=https://api.open-meteo.com/v1/forecast
NOMINATIM_URL=https://nominatim.openstreetmap.org/reverse
OPEN_METEO_TIMEOUT=10
NOMINATIM_TIMEOUT=10
WEATHER_CACHE_TTL_SECONDS=600
FORECAST_CACHE_TTL_SECONDS=900
MODEL_DIR=./ml/saved_models
